<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.shangguigu.bstest.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.shangguigu.bstest.model.Employee">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="nick" jdbcType="VARCHAR" property="nick"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="birth" jdbcType="DATE" property="birth"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,nick,phone,address,email,gender,birth
    </sql>


    <select id="getAllEmployee" resultType="com.shangguigu.bstest.model.Employee">
        select * from dubbouser
    </select>

    <select id="getEmployee" resultType="com.shangguigu.bstest.model.Employee">
        select * from dubbouser WHERE id = #{id}
    </select>

    <update id="updataEmployee">
        UPDATE dubbouser set nick = #{nick},phone=#{phone},address=#{address},email=#{email},gender=#{gender},birth=#{birth} WHERE id=#{id}
    </update>

    <insert id="addEmployee" parameterType="com.shangguigu.bstest.model.Employee">
        INSERT INTO dubbouser (nick,phone,address,email,gender,birth) VALUES (#{nick},#{phone},#{address},#{email},#{gender},#{birth})
    </insert>

    <delete id="deleteEmployee">
        DELETE FROM dubbouser WHERE id = #{id}
    </delete>

</mapper>
